<body class="body">
<mat-toolbar class="toolbar">
    <!-- <embed [src]="...\logo1.pdf" style="width:200px;height:200px;" type="application/pdf" /> -->
   
    <button mat-icon-button><mat-icon>menu</mat-icon></button>
    <!-- <mat-toolbar-row></mat-toolbar-row> -->
   
  </mat-toolbar>
  <mat-card class="card">
    <mat-card-header class="header">      
      <div class="header-actions">
        <mat-tab-group class="my-tab-group router-outlet">

            <mat-tab >
                <ng-template mat-tab-label >
                    <button mat-icon-button [matMenuTriggerFor]="Menu1" class="cloneIcon">
                        מערכת קולית
                    </button>                
                </ng-template>       
                <mat-menu #Menu1="matMenu" >
                    <button mat-menu-item>מערכת שעות</button>          
                </mat-menu>        
            </mat-tab>  

            <mat-tab>
                <ng-template mat-tab-label>
                    <button mat-icon-button [matMenuTriggerFor]="Menu1" class="cloneIcon">
                        שיעורים
                    </button>                    
                </ng-template>            
                <mat-menu #Menu1="matMenu">
                    <button mat-menu-item>מערכת שעות</button>               
                </mat-menu>            
            </mat-tab>

            
            <mat-tab>
                <ng-template mat-tab-label>
                    <button mat-icon-button [matMenuTriggerFor]="Menu2" class="cloneIcon">
                        תלמידים/ות
                    </button>                      
                </ng-template>              
                <mat-menu #Menu2="matMenu">
                    <button mat-menu-item (click)="ShowStudentsList()">רשימת התלמידים/ות</button>
                    <button mat-menu-item>הוספת תלמיד/ה</button>
                </mat-menu>             
            </mat-tab>
           
          </mat-tab-group>

      </div>
    </mat-card-header>
    <mat-card-content class="content">

        <router-outlet ></router-outlet>
      <!-- Insert content here -->
    </mat-card-content>
  </mat-card>
</body>

