<mat-card class="student-student-card">
   <!-- <mat-card-header>
   {{Id}} :היכן משובצת וסוג מנוי 
   </mat-card-header> -->
   <mat-card-content *ngIf="CurrentSubscription">
      <table class="table">
         <tr>
            
            <td> {{CurrentSubscription.Name}} </td>
            <td>:מנוי נוכחי</td>
      </tr>
      <tr>
        
         <td *ngIf="WeekNum"> בשבוע {{WeekNum}} מתוך {{CurrentSubscription.WeeksNum}} + {{status}} של {{Balance}} ש'ח  
          </td>
          <td>:אוחזת בתוך המנוי </td>
     
   </tr>
   
   <tr>
      <button  mat-icon-button [matMenuTriggerFor]="Menu" class="cloneIcon" (click)="FullSubscriptionMenue()">
         שינוי מנוי </button>
       
      
       <mat-menu #Menu="matMenu">
        <button mat-menu-item *ngFor="let subscription of SubscriptionList" (click)="EditSubscription(subscription)">{{subscription.Name}}</button>
                                    
        </mat-menu>  
   </tr>
   <tr>
      <button  mat-icon-button [matMenuTriggerFor]="Menu2" class="cloneIcon" (click)="FullLessonMenue()">
         שינוי שיבוץ </button>
       
      
       <mat-menu #Menu2="matMenu">
        <button mat-menu-item *ngFor="let lesson of LessonsList" (click)="EditLesson(lesson)">{{lesson.Name}} יום {{lesson.Day}} {{lesson.StartHower}}-{{lesson.FinishHower}}</button>
                                    
        </mat-menu>  
   </tr>
     
    
   
   <!-- <mat-list>
          <mat-list-item *ngFor="let lesson of LessonsList"><H3>{{payment}}</H3>
           {{payment.Day}} : יום
             {{payment.Houer}} : שעה
          <mat-divider></mat-divider>
       </mat-list-item>
      </mat-list> -->
   </table>
   </mat-card-content>
   </mat-card>