.student-student-card{
    position: absolute;
   
    top: 20%;
    left: 10%;
    height: 70%;
    width: 30%;
    text-align: right;
}

button{
    margin: 10px !important;
}

mat-stroked-button {
    direction: rtl;
  }

