.student-student-card{
    position: absolute;
   text-align: center;
    top: 20%;
    left: 10%;
    height: 70%;
    width: 30%;
}
.mat-form-field{
    width: 80px;
}
.pinck-color
{
   color:crimson;
}
.light{
color: blue;
}

mat-expansion-panel
{
    text-align: right;
}

mat-expansion-body
{
    display: block;
    text-align: center;
    height: 100vh;
}

.viewport{
    border: 1px solid black;
    display: inline-block;
    
    height: 200px;
    width: 100%;
    overflow-y: scroll;
    
}