
<mat-card class="student-student-card">
  <mat-card-header>{{Id}}מצב תשלום </mat-card-header>
    <mat-card-content >
        <form [formGroup]="PayDetailsForm" (ngSubmit)="OnSubmit()">
            <p>
              <br>
              <span class="light">
            <!-- {{}} של {{student.Balance}} שקלים -->
          </span>
            <br>
           
            <mat-form-field class="mat-form-field" appearance="fill">
                
                <select matNativeControl required  formControlName="manui" >
                  <option >פעמים בשבוע</option>
                  <option >פעם בשבוע</option>                 
                </select>
            </mat-form-field>
        
        :על פי מנוי של  
          <br/>
          נותרו עוד <span class="pinck-color">{{lessonsCount}}</span> שיעורים 
    </p>
    <mat-accordion>
    <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
          הסטורית תשלומים
        </mat-panel-title>
        <!-- <mat-panel-description>
          
        </mat-panel-description> -->
      </mat-expansion-panel-header>      
      <mat-list role="list">
        <h3>שח 154 בתאריך 24/03</h3>
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
    
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  
    </form>  
    


</mat-card-content>
</mat-card>