.student-student-card{
    position: absolute;
   
    top: 20%;
    left: 10%;
    height: 70%;
    width: 30%;
}
.mat-form-field{
    width: 80px;
}
.pinck-color
{
   color:crimson;
}
.light{
color: blue;
}