
<mat-card class="student-student-card">
  <mat-card-header *ngIf="Balance">

  </mat-card-header>
  <mat-card-content >
    <h1>
      מצב תשלום נוכחי:
    </h1> 
    <h2>
    {{state}} של {{Balance}} שקלים
    </h2>
    
    <p>
      <br>
      <span class="light">
    
      </span>
      <br>
           
      
    
      <mat-accordion  *ngIf="Balance">
        <mat-expansion-panel  >
          <mat-expansion-panel-header>
            <mat-panel-title>
              הסטורית תשלומים
            </mat-panel-title>
        

          </mat-expansion-panel-header>  
          <mat-expansion-panel-body [collapsedHeight]="'190px'" [expandedHeight]="'190px'">
            <cdk-virtual-scroll-viewport  itemSize="33" class="viewport">
            
            <mat-list role="list" *ngFor="let SubscreptionOfPayment of SubscreptionOfPaymentList, let i=index">
              <h3>
                שולם: {{SubscreptionOfPayment.Sum}} ש"ח
                <br>
                בתאריך:  {{SubscreptionOfPayment.StartDate}}
                <br>
                :עבור  
              </h3>
              <mat-list role="list" *ngFor="let StudentInSubscreptionDescription of SubscreptionOfPayment.StudentInSubscreptionDescriptionList, let i=index">
                {{StudentInSubscreptionDescription.SubscreptionName}}  {{StudentInSubscreptionDescription.SubscreptionPrice}}
              </mat-list>

            </mat-list> 
          </cdk-virtual-scroll-viewport>
        </mat-expansion-panel-body>
      </mat-expansion-panel>
    </mat-accordion>
    <button mat-button class="block-display" (click)="AddPayment()">הוסף תשלום</button>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
