
<mat-card class="student-student-card">
    <mat-card-header>{{Id}}: פרטים אישים </mat-card-header>
    <mat-card-content >
      <mat-grid-list cols="2">
        <mat-grid-tile rowspan="2">
       
           
  <form class="sign-up-form" > 
    <mat-form-field class="mat-form-field" appearance="outline">
        <mat-label>התחלה</mat-label>
        <input  matInput placeholder="התחלה"    >  
      </mat-form-field>
  <mat-form-field class="mat-form-field" appearance="outline">
    <mat-label>שם פרטי</mat-label>
    <input [(ngModel)]="CurrentStudent.FirstName" matInput placeholder="שם פרטי"   >  
  </mat-form-field>
  
  
  <mat-form-field class="mat-form-field" appearance="outline">
    <mat-label>שם משפחה</mat-label>
    <input [(ngModel)]="CurrentStudent.LastName" matInput placeholder=" שם משפחה"  >
  </mat-form-field>
  
 
  
  <mat-form-field class="mat-form-field" appearance="outline">
    <mat-label>מספר זהות</mat-label>
    <input [(ngModel)]="CurrentStudent.IdentityNumber" matInput  placeholder=" מספר זהות" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"  >   
  </mat-form-field>
   
  <mat-form-field class="mat-form-field" appearance="outline">
    <mat-label>תאריך לידה</mat-label>
    <input matInput placeholder="תאריך לידה" type="date" >
  </mat-form-field>

    <mat-form-field class="mat-form-field" appearance="outline">
      <mat-label>נייד</mat-label>
      <input [(ngModel)]="CurrentStudent.PhoneNumber" matInput type="tel" placeholder="נייד"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"  >
         <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
  
    <mat-form-field class="mat-form-field" appearance="outline">
        <mat-label>כתובת</mat-label>
        <input matInput  placeholder="כתובת"   >
      </mat-form-field>
      <mat-form-field class="mat-form-field" appearance="outline">
        <mat-label>קופ"ח</mat-label>
        <input matInput  placeholder="קופ''ח"    >
      </mat-form-field>
      <mat-form-field class="mat-form-field" appearance="outline">
        <mat-label>אשראי</mat-label>
        <input matInput  placeholder="אשראי"    >
      </mat-form-field>
      <mat-form-field class="mat-form-field" appearance="outline">
        <mat-label>הערות</mat-label> 
        <input matInput  placeholder="הערות"   >
      </mat-form-field>
   
   <button mat-button type="submit" id="submitButton" >שמור שינוים</button>
   <button mat-button type="submit" id="submitButton" >שנה</button>
    
   
  </form>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
  
  </mat-grid-tile>
  </mat-grid-list>
  <!-- [disabled]="!SignUpForm.valid" -->
  </mat-card-content>
  </mat-card>
  <router-outlet></router-outlet> 