<form [formGroup]="skillsForm" (ngSubmit)="onSubmit()">
 

   
   
  
    <div formArrayName="skills">
      <div *ngFor="let skill of skills.controls; let i=index">
        <div [formGroupName]="i">
          {{i}}
          שם התלמידה :
          <input type="text" formControlName="StudentId">
          סכום התשלום:
          <input type="text" formControlName="Sum"> 
          אופן התשלום:
          <input type="text" formControlName="FormOfPayment">   

          
            <mat-form-field appearance="outline">
              <mat-label>תאריך התשלום</mat-label>      
              <input formControlName="Date" matInput placeholder="תאריך" type="date">
            </mat-form-field>
         
        </div>
      </div>
    </div>
   
    <p>
      <button type="submit">עדכן</button>
    </p>
   
  </form>
   
   
  <p>
    <button type="button" (click)="addSkills()">הוספת שורות</button>
  </p>
   
  
   