 <cdk-virtual-scroll-viewport  itemSize="50" class="example-viewport">


<table mat-table [dataSource]="StudentsList" class="mat-elevation-z8 table">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
 
               <!-- Name Column -->
   
    <ng-container matColumnDef="name" >
      <th mat-header-cell *matHeaderCellDef class="table-header"> Name </th>
      <td mat-cell *matCellDef="let element" class="table-item" (click)="OpenStudentDetails(element)" (dblclick)="OpenStudentPayDetails(element)"> {{element.FirstName}} {{element.LastName}} </td>
    </ng-container>
  
   
    <!-- Phone Column -->
    <ng-container matColumnDef="phone" >
      <th mat-header-cell *matHeaderCellDef class="table-header"> Phone </th>
      <td mat-cell *matCellDef="let element" class="table-item" > {{element.PhoneNumber}} </td>
    </ng-container>

  
 
    <!-- <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div> -->
         
  
 
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-item"></tr>
  </table> 
</cdk-virtual-scroll-viewport>


<router-outlet></router-outlet>
<router-outlet name='studentDetailsRouterOutlet' ></router-outlet>
<router-outlet name='studentPayDetailsRouterOutlet'></router-outlet>


