.mat-card{
    display: inline-block;
    top: 5%;
    left: 50%;
    height: 85%;
    width: 30%;
}

.viewport{
    display: inline-block;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 95%;
    overflow-y: scroll;
    scrollbar-face-color: crimson;
}
.table{
    height: 100%;
    width: 100%;
}

.table-header{
    height: 50px;
    width: 50%;
    font-size: larger;
    font-weight: 700;
    color: crimson;
}
.table-item{
    height: 50px;
    width: 50%;
}
.block-display{
    display: block;
    top:3%;
    left: 5%;
    width: 95%;
}
