<mat-card class="student-student-card">
    <mat-card-header>
      <mat-card-title> פרטים אישים :{{id}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="3" rowHeight="50px" [gutterSize]="'10px'">
        <form [formGroup]="SignUpForm" (ngSubmit)="OnSubmit()">
         
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>תאריך</mat-label>      
                  <input formControlName="Date" matInput placeholder="תאריך" type="date">
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>הערה</mat-label>      
                  <input formControlName="Note" matInput placeholder="הערה">
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field appearance="outline">
                  <mat-label>פרשת השבוע</mat-label>      
                  <input formControlName="WeeklyPortion" matInput placeholder="פרשת השבוע">
                </mat-form-field>
              </mat-grid-tile>
  
  
        </form>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions align="center">
        <button mat-raised-button (click)="Change()" color="primary">שנה</button>
      <button mat-button (click)="OnSubmit()" type="submit" id="submitButton" color="primary">שמור</button>
    </mat-card-actions>
  
  
  </mat-card>